# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
Infrastructure/Terraform/terraform.tfvars

# Ansible
*.retry
.ansible/
Infrastructure/Ansible/inventory.ini
# Uncomment if you want to ignore ansible logs
# *.log
