[defaults]
inventory = inventory.ini
host_key_checking = False
deprecation_warnings = False
timeout = 30
# Hiển thị thời gian chạy của từng task
callbacks_enabled = profile_tasks 
stdout_callback = default
result_format = yaml
